.App {
  text-align: center;
  font-family: "Arial, sans-serif";
}

.todo {
  transition: all 0.2 !important;
}
.todo:hover {
  padding-bottom: 10px !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4) !important;
  cursor: pointer;
}

.icons {
  transition: all 0.2 !important;
}
.icons:hover {
  background-color: #dddddd !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1) !important;

}
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Alexandria-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Alexandria-Light.ttf");
  font-weight: 200;
}
